html {
  min-height: 100%;
}
a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}

.navbar ul{
  margin: 0 ;
  padding: 0;
  overflow: hidden;
  position: fixed;
top: 20px;
left: 200px;

}
.navbar li {
  list-style-type: none;
  float: left;
  width: 120px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #2A1033;
flex: none;
order: 3;
flex-grow: 0;
}
.login{
 box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
width: 120px;
height: 50px;
border: 3px solid #F6DCFF;
border-radius: 21px;
flex: none;
order: 0;
flex-grow: 0;
width: 80px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}
.regbtn{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
width: 138px;
height: 50px;
background: #2A1033;
border-radius: 21px;
flex: none;
order: 1;
flex-grow: 0;
width: 120px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #F6DCFF;
flex: none;
order: 0;
flex-grow: 0;
}
.section0{
  background: linear-gradient(359.77deg, rgba(104, 40, 127, 0.74) -10.62%, rgba(104, 40, 127, 0) 29.94%);
  background: url("image1.png");
  background-repeat: no-repeat;
  position:relative;
width: 1458px;
height: 899px;
left:-248px;
top: -10px;

  


}
.section1 h1{
position: absolute;
width: 732px;
height: 172px;
left: 100px;
top: 360px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 134%;
color: #2A1033;
}
.section1 p1{
  position: absolute;
width: 739px;
height: 108px;
left: 100px;
top: 590px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
color: #2A1033;


}
.regfreebtn{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px ;
gap: 10px;
position: absolute;
width: 250px;
height: 50px;
left: 100px;
top: 700px;
background: #2A1033;
border-radius: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #F6DCFF;
flex: none;
order: 0;
flex-grow: 0;

}
.section2 h2{
  position: absolute;
width: 270px;
height: 60px;
left: 100px;
top: 1047px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
color: #2A1033;
}
.section2 p1{
position: absolute;
width: 540px;
height: 396px;
left: 100px;
top: 1130px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
color: #461B55;
}
.sec2bground{
  position: relative;
width: 695px;
height: 751px;
left: 500px;
top: -17px;
background: url("sec2.png");

}
.earnboximage img{
  position: absolute;
width: 286px;
height: 286px;
left: 18px;
top: -10px;

}
.boostboximage img{
  position: absolute;
width: 221px;
height: 183px;
left: 42px;
top: 43px;
}
.getboximage img{
  position: absolute;
width: 276px;
height: 359px;
left: 30px;
top: -22px;
}
.learnmore{
box-sizing: border-box;
width: 200px;
height: 35px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #2A1033;
flex: none;
order: 0;
flex-grow: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
position: absolute;
width: 159px;
height: 50px;
border: 3px solid #2A1033;
border-radius: 21px;
}
.section3 h2{
  position: absolute;
width: 432px;
height: 60px;
left: 400px;
top: 1759px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
color: #2A1033;
}

.earnmorebox p1{
  position: absolute;
width: 307px;
height: 30px;
left: 80px;
top: 2200px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #F6DCFF;

}
.earnboximage{
  position: absolute;
width: 304px;
height: 270px;
left: 80px;
top: 1900px;
background: #2A1033;
border-radius: 28px;

}
.boostboximage{
   position: absolute;
width: 304px;
height: 270px;
left: 450px;
top: 1900px;
background: #2A1033;
border-radius: 28px;
}
.getboximage{
   position: absolute;
width: 304px;
height: 270px;
left: 820px;
top: 1900px;
background: #2A1033;
border-radius: 28px;
  
}
.statement1{
  position: absolute;
width: 283px;
height: 48px;
left: 80px;
top: 2230px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #F6DCFF;


}
.continuebtn1 {
  width: 93px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;


display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
position: absolute;
width: 138px;
height: 50px;
left: 150px;
top: 2300px;
background: #E08AFE;
border-radius: 21px;
}

.boostbox p1{
  position: absolute;
width: 350px;
height: 50px;
left: 450px;
top: 2200px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #F6DCFF;
}

.statement2{
  position: absolute;
width: 283px;
height: 48px;
left: 450px;
top: 2230px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #F6DCFF;
} 
.continuebtn2 {
  width: 93px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;


display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
position: absolute;
width: 138px;
height: 50px;
left: 520px;
top: 2300px;
background: #E08AFE;
border-radius: 21px;
}
.getbox p1{
  position: absolute;
width: 260px;
height: 30px;
left:850px;
top: 2200px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #F6DCFF;
}
.continuebtn3 {
  width: 93px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
position: relative;
width: 138px;
height: 50px;
left: 900px;
top: 640px;
background: #E08AFE;
border-radius: 21px;
}
.statement3{
  position: absolute;
width: 309px;
height: 48px;
left: 830px;
top: 2230px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #F6DCFF;


}
.section4 h2{
  position: absolute;
width: 447px;
height: 60px;
left: 430px;
top: 31px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
color: #F6DCFF;
}
.section4 p1{
  position: absolute;
width: 975px;
height: 72px;
left: 150px;
top: 120px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #F6DCFF;
}
.section4 p2{
  position: absolute;
width: 236px;
height: 36px;
left: 530px;
top: 346px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #F6DCFF;
}
.section4 p3{
  position: absolute;
width: 236px;
height: 36px;
left: 180px;
top: 501px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #F6DCFF;
}
.image1 img{
box-sizing: border-box;

position: absolute;
width: 151px;
height: 151px;
left: 655px;
top: 219px;
}
.miriam{
  position: absolute;
width: 120px;
height: 120px;
left: 230px;
top: 364px;
border: 5px solid #F0C5FF;

}
.jordan{
  position: absolute;
width: 120px;
height: 120px;
left: 910px;
top: 370px;
border: 5px solid #F0C5FF;

}
.section4 p4{
  position: absolute;
width: 236px;
height: 36px;
left: 860px;
top: 501px;

/* Sub header 3 */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */

text-align: center;

/* 1 */

color: #F6DCFF;

}
.section4{
  position: absolute;
width: 1200px;
height: 680px;
left: 0px;
top: 2467px;
background: #2A1033;
}
.section5 h2{
  position: absolute;
width: 295px;
height: 60px;
left: 500px;
top: 31px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
color: #000000;
}
.section5 p1{
  position: absolute;
width: 975px;
height: 36px;
left: 150px;
top: 130px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #000000;
}
.section5 p2 {
  position: absolute;
width: 236px;
height: 36px;
left: 520px;
top: 330px;

/* Sub header 3 */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */

text-align: center;

color: #000000;

}
.section5 p3{
  position: absolute;
width: 673px;
height: 90px;
left: 300px;
top: 400px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #000000;

}
.section5{
  position: absolute;
width: 1200px;
height: 639px;
left:0px;
top: 3147px;
background: #E8A8FF;
}
.part1 h2{
 position: absolute;
width: 756px;
height: 60px;
left: 280px;
top: 3828px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
color: #2A1033;
}
.part1 p1{
  position: absolute;
width: 975px;
height: 36px;
left: 150px;
top: 3920px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #2A1033;

}
.part1 p2{
  position: absolute;
width: 975px;
height: 30px;
left: 150px;
top: 3950px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #8B35A9;
}
.CustomPlan{
  box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
position: absolute;
width: 184px;
height: 50px;
left: 550px;
top: 4002px;
border: 3px solid #2A1033;
border-radius: 21px;
width: 200px;
height: 50px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #2A1033;
flex: none;
order: 0;
flex-grow: 0;
}
.part2 p3{
  position: absolute;
width: 254px;
height: 48px;
left: 520px;
top: 4086px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
color: #2A1033;
}
.part2 h3{
  position: absolute;
width: 119px;
height: 60px;
left: 600px;
top: 4470px;
font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 60px;
color: #7F8200;
}
.part2 p1{
  position: absolute;
width: 396px;
height: 192px;
left: 460px;
top: 4563px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #2A1033;
}
.goldbtn{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
position: absolute;
width: 138px;
height: 50px;
left: 590px;
top: 4720px;
background: #E08AFE;
border-radius: 21px;
width: 150px;
height: 50px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 60px;
color: #2A1033;
flex: none;
order: 0;
flex-grow: 0;
}
.gold img{
  position: absolute;
width: 290px;
height: 290px;
left: 510px;
top: 4164px;
}
.part3 img{
  position: absolute;
width: 259px;
height: 259px;
left: 129px;
top: 4350px;
}
.part4 img{
  position: absolute;
width: 259.25px;
height: 259px;
left: 870px;
top: 4300px;
}
.part3 h3{
  position: absolute;
width: 109px;
height: 54px;
left: 960px;
top: 4550px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 35.7093px;
line-height: 54px;
color: #000000;
}
.part3 p1{
  position: absolute;
width: 338px;
height: 178px;
left: 850px;
top: 4650px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 21.43px;
line-height: 32px;
text-align: center;
color: #2A1033;

}
.silverbtn{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 138px;
height: 50px;
left: 950px;
top: 4783px;
background: #E08AFE;
border-radius: 21px;
width: 150px;
height: 50px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #2A1033;
flex: none;
order: 0;
flex-grow: 0;
}
.part4 h3{
  position: absolute;
width: 134.17px;
height: 54px;
left: 190.66px;
top: 4600px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 35.7785px;
line-height: 54px;
color: #000000;
}
.part4 p1{
  position: absolute;
width: 302.33px;
height: 174px;
left: 100px;
top: 4700px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 21.4671px;
line-height: 32px;
text-align: center;
color: #2A1033;
}
.bronzebtn{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
position: absolute;
width: 138px;
height: 50px;
left: 180px;
top: 4850px;
background: #E08AFE;
border-radius: 21px;
width: 150px;
height: 50px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #2A1033;
flex: none;
order: 0;
flex-grow: 0;
}
.part5 p1{
  position: absolute;
width: 934px;
height: 48px;
left: 170px;
top: 4970px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;
color: #2A1033;
}
.part5 p2{
  position: absolute;
width: 573px;
height: 48px;
left: 380px;
top: 5020px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
color: #2A1033;
}
.registerbtnlst{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 20px;
gap: 12px;
position: absolute;
width: 250px;
height: 50px;
left: 530px;
top: 5080px;
background: #2A1033;
border-radius: 21px;
width: 250px;
height: 50px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #F6DCFF;
flex: none;
order: 0;
flex-grow: 0;

}
footer{
  position: absolute;
width: 1200px;
height: 400px;
left: 0px;
top: 5400px;
background: #2A1033;
}
footer p1{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #F6DCFF;
position: absolute;
width: 162px;
height: 48px;
left: 20px;
top: 149px;
}
.about{
  width: 100px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 36px;
color: #F6DCFF;
flex: none;
order: 0;
flex-grow: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 11px;
list-style-type: none;
position: absolute;
width: 130px;
height: 100px;
left: 320px;
top: 58px;
}
.quicklinks{
  width: 143px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 36px;
color: #F6DCFF;
flex: none;
order: 0;
flex-grow: 0;
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 11px;
list-style-type: none;
position: absolute;
width: 189px;
height: 147px;
left: 520px;
top: 58px;
}
.socials{
  width: 105px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 36px;
color: #F6DCFF;
flex: none;
order: 0;
flex-grow: 0;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 14px;
list-style-type: none;
position: absolute;
width: 147.28px;
height: 244.39px;
left: 790px;
top: 80px;

}
.support{
  width: 110px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 36px;
color: #F6DCFF;
flex: none;
order: 0;
flex-grow: 0;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 11px;
list-style-type: none;
position: absolute;
width: 202px;
height: 147px;
left: 990px;
top: 70px;

}
.footerlogo img{
  position: absolute;
width: 132px;
height: 82px;
left: 20px;
top: 57px;
}
.bottom p2{
  position: absolute;
width: 461px;
height: 24px;
left: 143px;
top: 318px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #F6DCFF;

}
.bottom img{
  position: absolute;
left: 6.94%;
right: 90.62%;
top: 78.05%;
bottom: 13.22%;
background: #F6DCFF;
}