.headerbackground{
   position: absolute;
width: 1440px;
height: 105px;
left: 0px;
top: 127px;
background: #2A1033;
}
.privacy{
  position: relative;
width: 1000px;
height: 120px;
left: 120px;
top: 130px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size:32px;
line-height: 48px;
color: #F6DCFF;
}
.firstp{
position: absolute;
width: 1000px;
height: 120px;
left: 120px;
top: 296px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #2A1033;
}
.section2 h3{
position: absolute;
width: 1090px;
height: 30px;
left: 119px;
top: 500px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: #2A1033;
}
.section2 h4{
position: absolute;
width: 1090px;
height: 30px;
left: 119px;
top: 520px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 30px;
color: #2A1033;
}
.section2 p1{
  position: absolute;
width: 1189px;
height: 240px;
left: 119px;
top: 560px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #2A1033;
}
.section3 h2{
  position: absolute;
width: 1090px;
height: 30px;
left: 119px;
top: 750px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: #2A1033;

}
.section3 p1{
  position: absolute;
width: 1189px;
height: 240px;
left: 119px;
top: 790px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #2A1033;

}
.section4 h2{
  position: absolute;
width: 1090px;
height: 30px;
left: 119px;
top: 1030px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height */


/* 11 */

color: #2A1033;

}
.section4 p1{
  position: absolute;
width: 1189px;
height: 600px;
left: 119px;
top: 1080px;

/* Body text 1 */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

/* 11 */

color: #2A1033;
}
.section5 h2{
  position: absolute;
width: 1090px;
height: 30px;
left: 119px;
top: 1530px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height */


/* 11 */

color: #2A1033;

}
.section5 ul{
  position: absolute;
width: 1189px;
height: 600px;
left: 119px;
top: 1560px;

/* Body text 1 */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

/* 11 */

color: #2A1033;
}
.section6 h2{
  position: absolute;
width: 1090px;
height: 30px;
left: 119px;
top: 1680px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height */


/* 11 */

color: #2A1033;

}
.section6 p1{
  position: absolute;
width: 1189px;
height: 600px;
left: 119px;
top: 1740px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #2A1033;

}
.scetion7 h2{
  position: absolute;
width: 1090px;
height: 30px;
left: 119px;
top: 1780px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height */


/* 11 */

color: #2A1033;
}
.section7 p1{
   position: absolute;
width: 1189px;
height: 600px;
left: 119px;
top: 1800px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #2A1033;
}
.section8 h2{
  position: absolute;
width: 1090px;
height: 30px;
left: 119px;
top: 2040px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;

color: #2A1033;

}
.section8 p1{
  position: absolute;
width: 1189px;
height: 600px;
left: 119px;
top: 2090px;

/* Body text 1 */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

/* 11 */

color: #2A1033;


}
.section9 h2{
  position: absolute;
width: 1090px;
height: 30px;
left: 119px;
top: 2140px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;

color: #2A1033;


}
.section9 p1{
  position: absolute;
width: 1189px;
height: 600px;
left: 119px;
top: 2200px;

/* Body text 1 */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

/* 11 */

color: #2A1033;

}
.section10 h2{
  position: absolute;
width: 1090px;
height: 30px;
left: 119px;
top: 2560px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;

color: #2A1033;



}
.section10 p1{
  position: absolute;
width: 1189px;
height: 600px;
left: 119px;
top: 2620px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #2A1033;
}
.section11 h2{
  position: absolute;
width: 1090px;
height: 30px;
left: 119px;
top: 2670px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: #2A1033;
}
.section11 p1{
  position: absolute;
width: 1189px;
height: 600px;
left: 119px;
top: 2720px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #2A1033;
}
.section12 h2{
  position: absolute;
width: 1090px;
height: 30px;
left: 119px;
top: 2740px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: #2A1033;
}
.section12 p1{
  position: absolute;
width: 1189px;
height: 600px;
left: 119px;
top: 2780px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #2A1033;
}
.section13 h2{
  position: absolute;
width: 1090px;
height: 30px;
left: 119px;
top: 2820px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: #2A1033;
}
.section13 p1{
  position: absolute;
width: 1189px;
height: 600px;
left: 119px;
top: 2860px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #2A1033;
}
.section14 h2{
  position: absolute;
width: 1090px;
height: 30px;
left: 119px;
top: 3220px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: #2A1033;
}
.section14 p1{
  position: absolute;
width: 1189px;
height: 600px;
left: 119px;
top: 3260px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #2A1033;
}
.section15 h2{
  position: absolute;
width: 1090px;
height: 30px;
left: 119px;
top: 3400px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: #2A1033;
}

.section15 p1{
  position: absolute;
width: 1189px;
height: 600px;
left: 119px;
top: 3450px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #2A1033;
}
.section16 h2{
  position: absolute;
width: 1090px;
height: 30px;
left: 119px;
top: 3630px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: #2A1033;
}
.section16 p1{
  position: absolute;
width: 1189px;
height: 600px;
left: 119px;
top: 3670px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #2A1033;
}
footer{
  position: absolute;
width: 1300px;
height: 500px;
left: 0px;
top: 3790px;
background: #2A1033;
}
footer p1{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #F6DCFF;
position: absolute;
width: 162px;
height: 48px;
left: 20px;
top: 149px;
}
.about{
  width: 80px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #F6DCFF;
flex: none;
order: 0;
flex-grow: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 11px;
list-style-type: none;
position: absolute;
width: 114px;
height: 147px;
left: 350px;
top: 58px;
}
.quicklinks{
  width: 143px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #F6DCFF;
flex: none;
order: 0;
flex-grow: 0;
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 11px;
list-style-type: none;
position: absolute;
width: 189px;
height: 147px;
left: 550px;
top: 58px;
}
.socials{
  width: 105px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #F6DCFF;
flex: none;
order: 0;
flex-grow: 0;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 14px;
list-style-type: none;
position: absolute;
width: 147.28px;
height: 244.39px;
left: 820px;
top: 58px;

}
.support{
  width: 110px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #F6DCFF;
flex: none;
order: 0;
flex-grow: 0;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 11px;
list-style-type: none;
position: absolute;
width: 202px;
height: 147px;
left: 1020px;
top: 58px;

}