.section1 h2{
    width: 424px;
height: 48px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
position: absolute;
width: 831px;
height: 48px;
left: 150px;
top: 120px;
color: #F6DCFF;
}
.section1 p1{
    position: absolute;
width: 1090px;
height: 60px;
left: 150px;
top: 220px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #F6DCFF;
}
.section1background{
    position: absolute;
width: 1200px;
height: 197px;
left: 0px;
top: 127px;
background: #2A1033;
}
.section2 h2{
    position: absolute;
width: 831px;
height: 48px;
left: 279px;
top: 396px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;
color: #2A1033;

}
.section2 p1{
    position: absolute;
width: 927px;
height: 30px;
left: 277px;
top: 480px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #8B35A9;
}
.section3 h2{
    position: absolute;
width: 831px;
height: 48px;
left: 279px;
top: 631px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;
color: #2A1033;
}
.section3 p1{
    position: absolute;
width: 927px;
height: 60px;
left: 277px;
top: 720px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #8B35A9;

}
.section4 p1{
    position: absolute;
width: 1100px;
height: 60px;
left: 100px;
top: 930px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #2A1033;

}
footer{
  position: absolute;
width: 1200px;
height: 500px;
left: 0px;
top: 1100px;
background: #2A1033;
}
footer p1{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #F6DCFF;
position: absolute;
width: 162px;
height: 48px;
left: 20px;
top: 149px;
}
.about{
  width: 80px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #F6DCFF;
flex: none;
order: 0;
flex-grow: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 11px;
list-style-type: none;
position: absolute;
width: 114px;
height: 147px;
left: 350px;
top: 58px;
}
.quicklinks{
  width: 143px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #F6DCFF;
flex: none;
order: 0;
flex-grow: 0;
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 11px;
list-style-type: none;
position: absolute;
width: 189px;
height: 147px;
left: 550px;
top: 58px;
}
.socials{
  width: 105px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #F6DCFF;
flex: none;
order: 0;
flex-grow: 0;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 14px;
list-style-type: none;
position: absolute;
width: 147.28px;
height: 244.39px;
left: 820px;
top: 58px;

}
.support{
  width: 110px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #F6DCFF;
flex: none;
order: 0;
flex-grow: 0;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 11px;
list-style-type: none;
position: absolute;
width: 202px;
height: 147px;
left: 1020px;
top: 58px;

}