body{
    background-color:  #2A1033;
    position: absolute;
     width: 800px;
    height: 958px;
    left: 0px;
    top: -1px;
    
}

.header1{
    position: absolute;
    width: 468px;
    height: 72px;
    left: 156px;
    top: 146px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #F6DCFF;

}

.content{
    position: absolute;
    width: 437px;
    height: 72px;
    left: 156px;
    top: 240px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-decoration-line: underline;
    color: #F6DCFF;
}

.Firstname{
    position: absolute;
    width: 100px;
    height: 24px;
    left: 156px;
    top: 302px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F6DCFF;

}
.firstname{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    position: absolute;
    width: 322px;
    height: 30px;
    left: 156px;
    top: 334px;
    background: #F6DCFF;
    border-radius: 13px;
}

.Lastname{
    position: absolute;
    width:100px;
    height: 24px;
    left: 156px;
    top: 400px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F6DCFF;
}
.lastname{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    position: absolute;
    width: 322px;
    height: 30px;
    left: 156px;
    top: 430px;
    background: #F6DCFF;
    border-radius: 13px;
}

.Email{
    position: absolute;
    width: 150px;
    height: 24px;
    left: 156px;
    top: 500px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F6DCFF;

}
.email{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    position: absolute;
    width: 322px;
    height: 30px;
    left: 156px;
    top: 530px;
    background: #F6DCFF;
    border-radius: 13px;
}

.Password{
    position: absolute;
    width: 77px;
    height: 24px;
    left: 156px;
    top: 600px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F6DCFF;

}

.password{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 196px;
    position: absolute;
    width: 322px;
    height: 30px;
    left: 156px;
    top: 630px;
    background: #F6DCFF;
    border-radius: 13px;
}

.Confpassword{
    position: absolute;
    width: 200px;
    height: 24px;
    left: 156px;
    top: 700px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F6DCFF;

}

.confpassword{
    display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 192px;

position: absolute;
width: 322px;
height: 30px;
left: 156px;
top: 730px;
background: #F6DCFF;
border-radius: 13px;
}

.signin{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
position: absolute;
width: 138px;
height: 50px;
left: 156px;
top: 800px;
background: #E08AFE;
border-radius: 21px;

width: 120px;
height: 50px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #2A1033;
flex: none;
order: 0;
flex-grow: 0;
}



.form-field.error{
    color: #dc3545;
     position: relative;
    width: 400px;
    height: 24px;
    left: 500x;
    top: 302px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;


    
    
    padding: 10px;
    margin-bottom: 5px;
  
    display: block;
     outline: none;
 

}




